/* スマートフォン縦・横 */
@media (max-width: 812px) {
  .site-header {
    background: initial;
    padding: 60px 0px 70px 20px;
    position: initial;
  }
  .site-header nav  {
    display: none;
  }
  .site-logo {
    height: 40px;
    width: 35vw;
    margin: auto;
    padding-left: initial;
  }
  table {
    border-collapse: collapse;
  }
  .table {
    height: 10px;
    display: block;
  }
  .relative {
    position: relative;
    margin-top: 150px;
    width: 100%;
  }
  .box {
    width: 100%;
    height: 420px;
    margin: auto;
    background-color: rgb(245, 245, 243);
  }
  .flex {
    position: absolute;
    bottom: 15px;
    left: initial;
    display: initial;
    padding-left: initial;
    margin: auto;
    width: 95%;
    margin-left: 10px;
  }
  .photo {
    width: 100px;
    height: 100px;
    margin: auto;
    padding-bottom: 150px;
    padding-right: 140px;
  }
  .photo img {
    width: 150px;
    height: 150px;
  }
  .margin {
    padding-top: 10px;
    font-size: 30px;
  }
  .margin h2 {
    font-size: 30px;
  }
  .margin p {
    font-size: 15px;
  }
  .blockflex {
    padding-left: initial;
  }
  .introduction {
    font-size: 13px;
  }
  .d-flex {
    display: initial;
  }
  .container {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  .yokonarabi {
    display: initial;
  }
  .blog-container {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  .yokonarabi > div {
    width: 80%;
    text-align: center;
    padding: 10px;
  }

  .yokonarabi > div > img {
    max-width: 80%;
    height: auto;
    border: 1px solid;
    border-color: lavender;
  }
  .work {
    text-align: initial;
    justify-content: initial;
    align-items: initial;
    width: 100%;
  }
  .work-container {
    max-width: initial;
    margin: 0 auto;
  }
  .work-pic {
    width: 55vw;
    height: auto;
  }
  /* ---about.html----- */

  .left {
    width: 100%;
    border-bottom: 2px solid #dee7ec;
  }
  .left h1 {
    margin-top: 150px;
    margin-left: initial;
    text-align: center;
    font-size: 30px;
  }
  .about_pic {
    width: 45vw;
    height: auto;
    margin: auto;
    padding: 30px 0px;
    display: block;
    text-align: center;
  }
  .about_container {
    position: absolute;
    width: 100%;
    margin: auto;
    padding: 50px 0px 0px 20px;
  }
  .font_size p {
    font-size: 2.5vw;
    line-height: 1.9;
  }
  .about_d-flex {
    display: initial;
    padding-top: 50px;
  }
  .about_font {
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 80px;
    font-size: 2.2vw;
  }
  dl {
    margin-left: initial;
    margin-top: 10px;
    width: 90%;
  }
  dd {
    margin-left: 80px;
  }

  /* ---contact.html---- */
  input,
  textarea {
    width: 70%;
    font-size: 18px;
  }
  textarea {
    height: 100px;
  }
  .contact {
    margin: 0px 20px;
    padding-left: initial;
  }
  .contact p {
    text-align: left;
    line-height: 30px;
  }
  .contact-form {
    margin: 0px 20px;
    padding: initial;
    padding-top: 40px;
    text-align: left;
  }

  /* ---works.html--- */
  .works-center {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  .works-center h1 {
    font-size: 3vw;
  }
  .works-center p {
    font-size: 2vw;
    text-align: center;
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }
  /* ---blog.html--- */
  .blog {
    margin: auto;
    padding: 50px 10px 0px 10px;
    margin-left: initial;
    margin-top: initial;
    line-height: 35px;
    text-align: left;
  }
  #body p {
    font-size: 3vw;
    width: 90%;
  }
  #body img {
    width: 100%;
  }
  #body2 p {
    font-size: 3vw;
    width: 90%;
  }
  #body2 img {
    width: 100%;
  }
  #body3 p {
    font-size: 3vw;
    width: 90%;
  }
  #body3 img {
    width: 100%;
  }
  #title {
    text-align: left;
    font-size: 4vw;
  }
  #title2 {
    text-align: left;
    font-size: 4vw;
  }
  #title3 {
    text-align: left;
    font-size: 4vw;
  }
  .pager .pagination {
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
  }

  .br-pc {
    display: none;
  }
  .br-pc2 {
    display: none;
  }
  .br-pc3 {
    display: none;
  }
  .br-sp {
    display: block;
  }
  .br-sp2 {
    display: block;
  }
}
@media (min-width: 768px) {
  .br-pc {
    display: block;
  }
  .br-pc2 {
    display: block;
  }
  .br-pc3 {
    display: block;
  }
  .br-sp {
    display: none;
  }
  .br-sp2 {
    display: none;
  }
}
/* タブレット縦・横 */
@media (min-width: 813px) and (max-width: 1024px) {
  .relative {
    position: relative;
  }
  .box {
    position: relative;
    width: 100vw;
    height: 21vw;
    background-color: rgb(245, 245, 243);
    margin-top: 80px;
  }

  .flex {
    bottom: 10px;
    left: 160px;
  }
  .d-flex {
    display: initial;
  }
  .container {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  .yokonarabi {
    display: initial;
  }
  .blog-container {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  .yokonarabi > div {
    width: 80%;
    text-align: center;
    padding: 10px;
  }

  .yokonarabi > div > img {
    max-width: 80%;
    height: auto;
    border: 1px solid;
    border-color: lavender;
  }

  #body p {
    font-size: 1.6vw;
    width: 75%;
  }

  #body2 p {
    font-size: 1.6vw;
    width: 75%;
  }

  #body3 p {
    font-size: 1.6vw;
    width: 75%;
  }
  .work-container {
    max-width: initial;
    margin: 0 auto;
  }
  .work-pic {
    width: 55vw;
    height: auto;
  }
}
@media (orientation: landscape) and (max-width: 812px) {
  .br-pc {
    display: none;
  }
  .br-pc2 {
    display: none;
  }
  .br-pc3 {
    display: none;
  }
  .br-sp {
    display: block;
  }
  .br-sp2 {
    display: none;
  }
  .box {
    height: 430px;
  }
}

/* @media (orientation: landscape) and (max-width: 812px) {
  .site-header {
    background: initial;
    padding: 60px 0px 70px 20px;
    position: initial;
  }
  .site-header nav {
    display: none;
  }
  .site-logo {
    height: 40px;
    width: 35vw;
    margin: auto;
    padding-left: initial;
  }
  table {
    border-collapse: collapse;
  }
  .table {
    height: 10px;
    display: block;
  }

  .flex {
    bottom: 10px;
    left: initial;
    padding-top: 150px;
    padding-left: 120px;
  }
  .flex img {
    left: 250px;
  }
  .blockflex {
    padding-left: 20px;
  }
  .d-flex {
    display: initial;
  }
  .container {
    width: 83%;
    margin: auto;
    margin-bottom: 40px;
  }
  .yokonarabi {
    display: initial;
  }
  .blog-container {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  .yokonarabi > div {
    width: 80%;
    text-align: center;
    padding: 10px;
  }

  .yokonarabi > div > img {
    max-width: 80%;
    height: auto;
    border: 1px solid;
    border-color: lavender;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  .br-pc {
    display: none;
  }
  .br-sp {
    display: none;
  }
  .flex {
    position: absolute;
    bottom: 5px;
    left: initial;
    padding-top: 150px;
    padding-left: 20px;
  }
  .flex img {
    left: 250px;
  }
  .blockflex {
    padding-left: 10px;
  }
  .introduction {
    width: 90%;
  }
  .margin {
    padding-bottom: 10px;
    width: 90%;
  }
} */
