* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.screen-width {
  width: 100%;
}
.site-header {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  padding: 60px 20px;
  justify-content: space-between;
  width: 100vw;
  height: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
body {
  position: relative;
  margin-bottom: 100px;
}
.site-logo {
  height: 25px;
  width: auto;
  padding-left: 50px;
}
.font {
  font-family: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, HiraKakuProN-W3,
    "メイリオ", Meiryo, sans-serif;
  /* font-weight: lighter; */
}
.image {
  margin-top: 200px;
  text-align: center;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  width: 21%;
  max-width: 960px;
  margin: 0px 40px;
}
.container h2 {
  color: #505050;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 1.7em;
}
.container h3 {
  line-height: 1;
  font-size: 14px;
  margin-bottom: 45px;
  color: #a5a5a5;
  letter-spacing: 0.1em;
}
.container p {
  line-height: 1.8;
  margin-top: 40px;
  text-align: left;
}
ul {
  list-style: none;
  margin: 0px;
  padding-right: 50px;
}
a {
  text-decoration: none;
}
.nav-list {
  display: inline-block;
  padding: 0px 20px;
  font-family: "Lato", "sans-serif";
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.nav-list a {
  color: #333;
}
.nav-list:hover {
  border-bottom: solid;
  border-color: rgb(186, 186, 186);
  border-width: 5px;
}

.yokonarabi {
  display: flex;
  width: 75%;
  justify-content: center;
}
.yokonarabi > div {
  width: calc(100% / 3);
  text-align: center;
  padding: 10px;
}

.yokonarabi > div > img {
  max-width: 75%;
  height: auto;
  border: 1px solid;
  border-color: lavender;
}
.blog-home p {
  width: 80%;
  display: inline-block;
  text-align: left;
  font-size: 15px;
  line-height: 2;
}
.relative {
  position: relative;
}
.box {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: rgb(245, 245, 243);
  margin-top: 80px;
}

.flex {
  position: absolute;
  bottom: 15px;
  left: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-left: 50px;
}
.flex img {
  left: 250px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.blockflex {
  display: block;
  padding-left: 40px;
}
.margin {
  text-align: center;
  padding-bottom: 15px;
  font-size: 25px;
}
.margin h2 {
  color: rgb(70, 70, 70);
  font-size: 2.7vw;
}
.margin p {
  opacity: 0.8;
  font-size: 1.3vw;
}
.introduction {
  text-align: center;
  line-height: 1.8;
  font-size: 1.1vw;
}
.service h1 {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
  font-size: 40px;
  font-weight: 100;
  opacity: 0.8;
  line-height: 0;
  color: #333;
}
.work h1 {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
  font-size: 40px;
  font-weight: 100;
  opacity: 0.8;
  line-height: 0;
  color: #333;
}
.work p {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
  font-size: 3vw;
  font-weight: 100;
  opacity: 0.8;
  line-height: 0;
  color: #333;
}
.blog-home h1 {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
  font-size: 40px;
  font-weight: 100;
  opacity: 0.8;
  line-height: 0;
  color: #333;
}
#page_top {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
#page_top a {
  width: 60px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f139";
  font-size: 50px;
  color: #3fefee;
}
/* ---works.html--- */
.left {
  text-align: left;
  font-family: "Lato", sans-serif;
  padding-top: 180px;
  padding-bottom: 10px;
  padding-left: 100px;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 0.05em;
  border-bottom: 2px solid #dee7ec;
  color: #333;
}
.workspic {
  display: flex;
  width: 90%;
  height: 650px;
  border: 1px solid;
  border-color: lavender;
}
.workscontainer {
  width: 80%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.works-center {
  font-size: x-large;
  text-align: center;
  padding-top: 250px;
}

/* ---about.html--- */
.about_pic {
  width: 200px;
  height: 150px;
  padding-top: 10px;
  margin-left: 40px;
}
.about_container {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: 150px;
  margin-top: 80px;
}
.about_d-flex {
  display: flex;
  /* justify-content: flex-start;
  align-items: flex-start; */
  /* text-align: justify; */
  padding-top: 50px;
}
.about_font {
  padding-left: 30px;
  padding-top: 15px;
  font-size: 14px;
}
.font_size {
  font-size: 16px;
  line-height: 1.9;
}
/* --contact.html--- */
input,
textarea {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
  text-align: center;
}
textarea {
  height: 200px;
}
.contact-submit {
  background-color: #d1d5d7;
  color: #889eab;
  box-shadow: 0px 5px #b9bbbd;
  cursor: pointer;
  outline: none;
}
.contact-submit:hover {
  opacity: 0.7;
  color: white;
}
.contact-submit:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}
.contact-form {
  padding: 40px 400px;
}
.contact {
  padding-left: 80px;
  padding-top: 50px;
}
.red {
  color: red;
  font-size: 10px;
}
/* ---blog.html---- */

.blog {
  margin-left: 80px;
  margin-top: 80px;
  line-height: 30px;
  text-align: left;
  font-weight: 100;
}
#title {
  font-size: 30px;
}
.pager .pagination {
  text-align: left;
  margin-left: 80px;
  margin-top: 30px;
}

.pager .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  background: rgb(197, 195, 195);
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 50px;
}

.pager .pagination li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pager .pagination li a span {
  display: table-cell;
  vertical-align: middle;
}

.pager .pagination li a:hover,
.pager .pagination li a.active {
  color: #000;
  background: rgb(218, 216, 216);
  border-radius: 50px;
}
table {
  table-layout: fixed;
}
.table {
  border-collapse: collapse;
  width: 100%;
  height: 10px;
  display: none;
}
table tr td {
  border: solid 1px black;
  padding: 20px 0px;
  text-align: center;
  border-color: rgb(164, 164, 165);
}
.table a {
  font-family: "Lato", "sans-serif";
  color: rgb(74, 73, 73);
  font-size: 16px;
}
.td1 {
  border-left-style: none;
}
.td2 {
  border-right-style: none;
}
.td3 {
  border-left-style: none;
}
.td4 {
  border-right-style: none;
}
